<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="IE=edge,chrome=1">
    <meta name="renderer" content="webkit">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="西安科技大市场,西安科技,科技大市场,大市场,技术转移,技术交易,成果转化,科技服务,仪器设备,科技政策,现代服务业,创业">
    <meta name="description" content="西安科技大市场将重点发挥“交易、共享、服务、交流”四位一体的功能。展示各种科技资源，促进科技资源的对接与合作；科技大市场促进技术转移和成果转化；科技大市场实现技术平台、仪器设备、科技文献等资源的共享；提供人才创业、政策落实、项目申报等专业化和集成化服务；通过举办科技集市和各种专业论坛，推动科技资源的交流与合作，促进科技成果的商品化、产业化与国际化。">
    <title>数据可视化</title>
    <link href="http://cdn.bootcss.com/normalize/5.0.0/normalize.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../../css/first_module.less">
</head>
<body>
<div class="container">
    <div class="chart-wrap" id="mainChart"></div>
</div>

<script src="../../lib/jquery-1.9.1.min.js"></script>
<script src="../../lib/echarts.min.js"></script>
<script src="../../js/common/utils.js"></script>
<script type="text/javascript">
    var mainChart = echarts.init(document.getElementById('mainChart'));

        var option = {
            title: [
                {
                    text: '过去UV',
                    subtext: func.randomData() * 1000,
                    subtextStyle: {
                        color: '#ff8000',
                        fontSize: 28,
                        fontWeight: 'bold'
                    },
                    textAlign: 'left',
                    left: '7%',
                    top: '3%',
                    textStyle: {
                        color: '#fff',
                        fontSize: 14,
                        fontWeight: 'normal'
                    }
                },
                {
                    text: '过去一周日均UV',
                    subtext: func.randomData() * 1000,
                    subtextStyle: {
                        color: '#ff8000',
                        fontSize: 28,
                        fontWeight: 'bold'
                    },
                    textAlign: 'left',
                    left: '7%',
                    top: '15%',
                    textStyle: {
                        color: '#fff',
                        fontSize: 14,
                        fontWeight: 'normal'
                    }
                },
                {
                    text: '近期新增用户转化率',
                    textAlign: 'center',
                    right: '12%',
                    bottom: '3%',
                    textStyle: {
                        color: '#fff',
                        fontSize: 14,
                        fontWeight: 'normal'
                    }
                },
                {
                    text: '访问流量来源',
                    textAlign: 'center',
                    left: '40%',
                    top: '40%',
                    textStyle: {
                        color: '#fff',
                        fontSize: 14,
                        fontWeight: 'normal'
                    }
                },
                {
                    text: '每日UV情况环比',
                    textAlign: 'center',
                    right: '20%',
                    top: '5%',
                    textStyle: {
                        color: '#fff',
                        fontSize: 14,
                        fontWeight: 'normal'
                    }
                },
                {
                    text: '过去一周用户操作系统偏好',
                    subtext: func.randomData() * 1000,
                    subtextStyle: {
                        color: '#ff8000',
                        fontSize: 28,
                        fontWeight: 'bold'
                    },
                    textAlign: 'center',
                    left: '10%',
                    bottom: '35%',
                    textStyle: {
                        color: '#fff',
                        fontSize: 14,
                        fontWeight: 'normal'
                    }
                },
                {
                    text: '过去一周浏览器数据',
                    subtext: func.randomData() * 1000,
                    subtextStyle: {
                        color: '#ff8000',
                        fontSize: 28,
                        fontWeight: 'bold'
                    },
                    textAlign: 'center',
                    right: '30%',
                    bottom: '35%',
                    textStyle: {
                        color: '#fff',
                        fontSize: 14,
                        fontWeight: 'normal'
                    }
                }
            ],
            legend: [{
                left: '18%',
                top: 0,
                orient: 'vertical',
                textStyle: {
                    color: '#fff'
                },
                data: ['碑林区', '莲湖区', '灞桥区', '未央区', '新城区', '雁塔区', '阎良区', '高陵区', '周至县', '临潼区', '长安区', '蓝田县', '户县县']
            }],
            grid: [
                {left: 'right', top: '12%', width: '40%', height: '40%', containLabel: true},
                {left: '2%', top: 'bottom', width: '45%', height: '30%', containLabel: true},
                {right: '2%', top: 'bottom', width: '45%', height: '30%', containLabel: true}
            ],
            xAxis: [
                {
                    gridIndex: 0,
                    type : 'category',
                    data: ['1月','2月','3月','4月','5月','6月','7月','8月','9月','10月','11月','12月'],
                    axisTick: {
                        alignWithLabel: true
                    },
                    axisLine: {
                        lineStyle: {
                            color: '#fff'
                        }
                    },
                    axisLabel: {
                        interval: 0,
                        rotate: 45
                    }
                },
                {
                    gridIndex: 1,
                    axisLine: {
                        lineStyle: {
                            color: '#fff'   
                        }
                    },
                    axisLabel: {
                        interval: 0,
                        textStyle: {
                            color: '#fff'
                        }
                    },
                    axisTick: {
                        show: false
                    },
                    splitLine: {
                        show: false
                    },
                    data : ['总费用','房租','水电费','交通费','伙食费','日用品数']
                },
                {
                    gridIndex: 2,
                    show: false
                },
                {
                    gridIndex: 3,
                    show: false
                }
            ],
            yAxis: [
                {
                    gridIndex: 0,
                    name: '水量',
                    min: 0,
                    max: 250,
                    interval: 50,
                    axisLabel: {
                        formatter: '{value} ml'
                    },
                    type : 'value',
                    splitLine: {
                        show: false
                    },
                    axisLine: {
                        lineStyle: {
                            color: '#fff'
                        }
                    }
                },
                {
                    gridIndex: 1,
                    min: 0,
                    max: 100,
                    axisLine: {
                        lineStyle: {
                            color: '#fff'   
                        }
                    },
                    axisLabel: {
                        interval: 0,
                        textStyle: {
                            color: '#fff'
                        }
                    },
                    axisTick: {
                        show: false
                    },
                    splitLine: {
                        show: false
                    },
                    scale: true
                },
                {
                    gridIndex: 2,
                    type: 'category',
                    axisLine: {
                        lineStyle: {
                            color: '#fff'   
                        }
                    },
                    axisLabel: {
                        interval: 0,
                        textStyle: {
                            color: '#fff'
                        }
                    },
                    axisTick: {
                        show: false
                    },
                    splitLine: {
                        show: false
                    },
                    scale: true,
                    data: ['巴西','印尼','美国','印度','中国','世界人口(万)']
                }
            ],
            series: [
                {
                    name:'降水量',
                    type:'bar',
                    xAxisIndex: 0,
                    yAxisIndex: 0,
                    data:[2.6, 5.9, 9.0, 26.4, 28.7, 70.7, 175.6, 182.2, 48.7, 18.8, 6.0, 2.3]
                },
                {
                    name:'平均温度',
                    type:'line',
                    xAxisIndex: 0,
                    yAxisIndex: 0,
                    data:[2.0, 2.2, 3.3, 4.5, 6.3, 10.2, 20.3, 23.4, 23.0, 16.5, 12.0, 6.2]
                },
                {
                    name: '辅助',
                    type: 'bar',
                    xAxisIndex: 1,
                    yAxisIndex: 1,
                    stack:  '总量',
                    itemStyle: {
                        normal: {
                            barBorderColor: 'rgba(0,0,0,0)',
                            color: 'rgba(0,0,0,0)'
                        },
                        emphasis: {
                            barBorderColor: 'rgba(0,0,0,0)',
                            color: 'rgba(0,0,0,0)'
                        }
                    },
                    data: [func.randomData(), func.randomData(), func.randomData(), func.randomData(), func.randomData(), func.randomData()]
                },
                {
                    name: '生活费',
                    type: 'bar',
                    xAxisIndex: 1,
                    yAxisIndex: 1,
                    stack: '总量',
                    label: {
                        normal: {
                            show: true,
                            position: 'inside'
                        }
                    },
                    data:[func.randomData(), func.randomData(), func.randomData(), func.randomData(), func.randomData(), func.randomData()]
                },
                {
                    name: '2011年',
                    type: 'bar',
                    xAxisIndex: 2,
                    yAxisIndex: 2,
                    data: [18203, 23489, 29034, 104970, 131744, 630230]
                },
                {
                    name:'了解详情',
                    type:'pie',
                    xAxisIndex: 2,
                    yAxisIndex: 2,
                    radius: ['16%', '32%'],
                    center: ['40%', '20%'],
                    avoidLabelOverlap: false,
                    label: {
                        normal: {
                            show: true,
                            formatter: "{d}%"
                        },
                        emphasis: {
                            show: true,
                            position: 'center',
                            formatter: "{b}"
                        }
                    },
                    data:[
                        {name: '碑林区', value: func.randomData()},
                        {name: '莲湖区', value: func.randomData()},
                        {name: '灞桥区', value: func.randomData()},
                        {name: '未央区', value: func.randomData()},
                        {name: '新城区', value: func.randomData()},
                        {name: '雁塔区', value: func.randomData()},
                        {name: '阎良区', value: func.randomData()},
                        {name: '高陵区', value: func.randomData()},
                        {name: '周至县', value: func.randomData()},
                        {name: '临潼区', value: func.randomData()},
                        {name: '长安区', value: func.randomData()},
                        {name: '蓝田县', value: func.randomData()},
                        {name: '户县县', value: func.randomData()}
                    ]
                },
                {
                    xAxisIndex: 1,
                    yAxisIndex: 1,
                    name: '图文页转发',
                    data: [[28604,77,17096869,'Australia',1990],[31163,77.4,27662440,'Canada',1990],[1516,68,1154605773,'China',1990],[13670,74.7,10582082,'Cuba',1990],[28599,75,4986705,'Finland',1990],[29476,77.1,56943299,'France',1990],[31476,75.4,78958237,'Germany',1990],[28666,78.1,254830,'Iceland',1990],[1777,57.7,870601776,'India',1990],[29550,79.1,122249285,'Japan',1990],[2076,67.9,20194354,'North Korea',1990],[12087,72,42972254,'South Korea',1990],[24021,75.4,3397534,'New Zealand',1990],[43296,76.8,4240375,'Norway',1990],[10088,70.8,38195258,'Poland',1990],[19349,69.6,147568552,'Russia',1990],[10670,67.3,53994605,'Turkey',1990],[26424,75.7,57110117,'United Kingdom',1990],[37062,75.4,252847810,'United States',1990]],
                    type: 'scatter',
                    symbolSize: function (data) {
                        return Math.sqrt(data[2]) / 5e2;
                    },
                    label: {
                        emphasis: {
                            show: true,
                            formatter: function (param) {
                                return param.data[3];
                            },
                            position: 'top'
                        }
                    },
                    itemStyle: {
                        normal: {
                            shadowBlur: 10,
                            shadowColor: 'rgba(120, 36, 50, 0.5)',
                            shadowOffsetY: 5,
                            color: new echarts.graphic.RadialGradient(0.4, 0.3, 1, [{
                                offset: 0,
                                color: 'rgb(251, 118, 123)'
                            }, {
                                offset: 1,
                                color: 'rgb(204, 46, 72)'
                            }])
                        }
                    }
                }
            ]
        };

        mainChart.setOption(option);
</script>
</body>
</html>