<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="renderer" content="webkit">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>西安交通大学 - 分析测试共享中心</title>
    <link href="http://cdn.bootcss.com/normalize/5.0.0/normalize.min.css" rel="stylesheet">
    <link href="../../static/jiaoda/css/index.css" rel="stylesheet" type="text/css">
    <!--[if lte IE 8]>
    <script src="http://cdn.bootcss.com/selectivizr/1.0.2/selectivizr.js"></script>
    <![endif]-->
</head>
<body>
<!--header start-->
    <div class="wrapper margin clear">
        <div class="wrap-left">
            <ul>
                <li><a href="http://www.xjtu.edu.cn/index.htm"><img src="../../static/jiaoda/image/logo.png" alt="西安交通大学标志"/> </a></li>
                <li><a href="http://iac.xjtu.edu.cn/">分析测试共享中心</a></li>
            </ul>
        </div>
        <div class="wrap-right">
            <ul>
                <li><a href="http://cfao.xjtu.edu.cn/Platform/Default.aspx" target="_blank">中心介绍</a></li>
                <li><a href="http://gr.xjtu.edu.cn/web/guojue/4" target="_blank">平台介绍</a></li>
                <li><a href="http://meeting.xjtu.edu.cn/" target="_blank">资源介绍</a></li>
                <li><a href="http://iac.xjtu.edu.cn/2017/09/03/%E6%A0%A1%E5%A4%96%E7%94%A8%E6%88%B7%E9%A2%84%E7%BA%A6%E6%B5%81%E7%A8%8B/" target="_blank">预约流程</a></li>
            </ul>
        </div>
    </div>
<!--header end-->

<!--banner start-->
<div class="banner">
    <!--<img src="../../static/jiaoda/image/banner.jpg" alt="西安交通大学展示图"/>-->
    <div class="bannerbox">
        <div id="wrap">
            <ul id="slide">
                <li><img src="../../static/jiaoda/image/word-2.png"/> </li>
                <li><img src="../../static/jiaoda/image/word-1.png"/> </li>
            </ul>
        </div>
    </div>

</div>
<!--banner end-->

<!--主要容内 start-->
<div class="section margin">
    <div id="centerJs">
        <div class="centerJsdiv">
        <h5>中心介绍</h5>
        <div class="centerJs-left">
            <div class="centerJs-left-p">
                <p>西安交通大学分析测量共享中心(简称 : 中心)成立于2016年5月，是面向学校和社会开放的大型仪器设备共享测试平台。
                    首期投入经费6500万元购置21台大型仪器设备，涵盖微区分析、无机成分分析、有机成分分析和材料性能测试四个方向，
                    可开展微结构与形貌分析、有机成分与结构分析、无机成分分析以及材料的光、热、磁等性能的分析测试服务。
                </p>
                <p class="p1">中心拥有一支由资深技术专家、责任教授、专职工程师、研究生助管组成的技术团队，保障设备使用效率和效益。
                    中心所有的设备开放共享，接入学校大型仪器设备物联共享系统，校内外用户均可通过系统进行网上预约。中心
                充分利用仪器的高、精、尖功能，高水平的技术队伍。可满足校内和其他的研究机构高水平研究以及省内各企业研发
                的分析测试需求。</p>
            </div>
        </div>
        <div class="centerJs-right" alt="">
            <img src="../../static/jiaoda/image/1.png" alt=""/>
        </div>
        </div>
    </div>
    <!--发展定位 start-->
    <div class="progress">
        <div class="progress-top clear">
            <i>发展定位</i><span></span>
        </div>
        <ul class="progress-center clear">
            <li><a href="###">坚持把支撑学校各学科发展作为战略任务</a></li>
            <li><a href="###">坚持运行机制体制建设的探索创新</a></li>
        </ul>
        <p><img src="../../static/jiaoda/image/fazhandingwei.png"/> </p>
        <ul class="progress-bottom clear">
            <li><a href="###">坚持抓好技术队伍建设和分析测试人员培养</a></li>
            <li><a href="###">坚持依法依规开展分析测试服务</a></li>
        </ul>
    </div>
    <!--五大建设任务 start-->
    <div class="fiveJsrw">
        <div class="fiveJsrwdiv clear">
            <i>五大建设任务</i><span></span>
        </div>
            <ul class="fiveJsrw-ul">
                <li class="fiveJsrw-ul-li1">
                    <a href="###"><img src="../../static/jiaoda/image/work-1.png" alt=""/> </a>
                    <div class="fiveJsrw-div">
                        <p>重视队伍</p><em>建设激发人才活力</em>
                    </div>
                </li>
                <li class="fiveJsrw-ul-li2">
                    <a href="###"><img src="../../static/jiaoda/image/work-2.png" alt=""/> </a>
                    <div class="fiveJsrw-div">
                        <p>服务社会</p><em>积极支撑社会创新</em>
                    </div>
                </li>
                <li class="fiveJsrw-ul-li3">
                    <a href="###"><img src="../../static/jiaoda/image/work-3.png" alt=""/> </a>
                    <div class="fiveJsrw-div">
                        <p>广泛开展国际</p><em>国内交流，合作共赢</em>
                    </div>
                </li>
                <li class="fiveJsrw-ul-li4">
                    <a href="###"><img src="../../static/jiaoda/image/work-4.png" alt=""/> </a>
                    <div class="fiveJsrw-div">
                        <p>完善制度建设规范</p><em>提升管理服务水平</em>
                    </div>
                </li>
                <li class="fiveJsrw-ul-li5">
                    <a href="###"><img src="../../static/jiaoda/image/work-5.png" alt=""/> </a>
                    <div class="fiveJsrw-div">
                        <p>加强硬件建设</p><em>保持服务质量优势</em>
                    </div>
                </li>
            </ul>
    </div>
</div>
<!--主要容内 结束-->
<!--分室介绍-->
<div id="locellusJs">
    <div class="wrapper margin">
        <div class="locellustitle">
            <h5><img src="../../static/jiaoda/image/title-fenshi.png" alt=""></h5>
        </div>
        <div class="locellusnav">
            <ul class="locellusul">
                <li>
                    <div class="locellusdiv1">
                        <span><img src="../../static/jiaoda/image/yiqi-3.png" alt=""/> </span><br>
                        <em>微区分析科学</em>
                    </div>
                    <div class="locellusdiv2">
                        <p> 微区分析科室拥有强大的技
                            术队伍（1名研究员、1名高工和
                            3名工程师），配置有1台冷冻电
                            镜、2台常规透射电镜、2台扫描
                            电镜、1台激光共聚焦显微镜和一
                            台激光粒度仪，可对常规材料和
                            生物样品的微观形貌、微观结构、
                            粒径及分布、元素组成和分布等
                            进行表征分析。中心还配备有离
                            子减薄仪、冷冻切片机、喷金仪
                            和研磨抛光机等齐全的辅助制样
                            设备，可给用户提供从制样、测
                            试到结果分析的全方位服务。</p>
                    </div>
                </li>
                <li>
                    <div class="locellusdiv1">
                        <span><img src="../../static/jiaoda/image/yiqi-1.png" alt=""/> </span><br>
                        <em>无机成分分析科室</em>
                    </div>
                    <div class="locellusdiv2">
                        <p>无机成分分析科室拥有教授
                            级高工1人，副研究员1人和高工
                            1人，配置有X射线光电子能谱仪
                            、X射线荧光光谱仪、X射线衍射
                            仪、电感耦合等离子体质谱仪和
                            原子吸收光谱仪各一台，可对无
                            机样品表面及体材料的元素组成
                            、化学价态等进行定量和定性的
                            分析。</p>
                    </div>
                </li>
                <li>
                    <div class="locellusdiv1">
                        <span><img src="../../static/jiaoda/image/yiqi-1.png" alt=""/> </span><br>
                        <em>有机成分分析科室</em>
                    </div>
                    <div class="locellusdiv2">
                        <p>有机成分分析科室拥有工程
                            师2人，配置有核磁共振波谱仪、
                            高分辨质谱、显微红外、激光拉
                            曼、元素分析仪等设备各一台，
                            可实现有机和高分子样品元素组
                            成、化学结构的准确分析。</p>
                    </div>
                </li>
                <li>
                    <div class="locellusdiv1">
                        <span><img src="../../static/jiaoda/image/yiqi-2.png" alt=""/> </span><br>
                        <em>物性分析科室</em>
                    </div>
                    <div class="locellusdiv2">
                        <p>物性分析科室拥有工程师2
                            人，配置有共振磁强计、同步热
                            分析、动态机械热分析、物理吸
                            附仪、化学吸附仪、荧光光谱仪
                            等设备各一台，可实现材料光、
                            磁、热等性能的全面分析。</p>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
<!--资源介绍-->
<div id="resourceJs" class="margin">
    <div class="locellustitle">
        <h5><img src="../../static/jiaoda/image/title-ziyuan.png" alt=""></h5>
        <div class="fiveJsrwdiv clear">
            <i>仪器</i><span></span>
        </div>
    </div>
    <div class="resourceJscontent margin">
       <p> 中心目前有三台透射电镜(FEI Talos F200C、JEOL JEM-F200和JEOL JEM-2100 Plus)，两台扫描电镜(Zeiss GemniSEM500和Hitachi SU3500)，核磁共振波谱仪(Bruker, AV
        ANCE III HD 600 MHz)、高分辨质谱仪(Waters, I-class+VION IMS QTof)，显微红外光谱仪(Bruker, Vertex70)，激光拉曼光谱仪(Horiby, LabRAM HR Evolution)、电感耦合等
        离子体质谱仪(PE, 350D)、X射线光电子能谱仪(Thermo, ESCALAB Xi+)、X射线荧光光谱仪(Bruker, S8 TIGER)、X射线衍射仪(Bruker, D8 Advanced)等大型分析测试设备，Talos
        F200C是西北地区第一台冷冻透射电镜，广泛用于结构生物学的研究，可为生命、生物、医学、化学和物理等学科的软物质结构分析开展特色服务。</p>
        <p>
            中心仪器24小时开放，为了用户使用方便，中心提供样品制备间、创新实验室，也可通过网上预约使用。
        </p>
    </div>
    <div class="resourceJstable">
        <div class="resourceJstable-left">
            <table  width="698" height="340">
                <tr class="tr">
                    <th>微区分析类</th>
                    <th>无机成分分析类</th>
                    <th>有机成分分析类</th>
                    <th>性能分析类</th>
                </tr>
                <tr>
                    <td class="tabletd">冷冻电镜1台</td>
                    <td class="tabletd">X射线光电子能谱1台</td>
                    <td class="tabletd">显微红外光谱仪1台</td>
                    <td class="tabletd">比表面物理吸附仪1台</td>
                </tr>
                <tr>
                    <td class="tabletd">透射电镜2台</td>
                    <td class="tabletd">X射线衍射仪1台</td>
                    <td class="tabletd">核磁共振波谱仪1台</td>
                    <td class="tabletd">比表面化学吸附仪1台</td>
                </tr>
                <tr>
                    <td class="tabletd">扫描电镜2台</td>
                    <td class="tabletd">X射线荧光光谱仪1台</td>
                    <td class="tabletd">高分辨质谱1台</td>
                    <td class="tabletd">动态热机械分析仪1台</td>
                </tr>
                <tr>
                    <td class="tabletd">等离子减薄仪1台</td>
                    <td class="tabletd">等离子发射质谱仪1台</td>
                    <td class="tabletd">拉曼光谱仪1台</td>
                    <td class="tabletd">热重-差示扫描量热仪1台</td>
                </tr>
                <tr>
                    <td class="tabletd">激光共聚焦1台</td>
                    <td class="tabletd">原子吸收光谱仪1台</td>
                    <td class="tabletd">分光光度计1台</td>
                    <td class="tabletd">振动样品磁强计1台</td>
                </tr>
                <tr>
                    <td class="tabletd">激光粒度仪1台</td>
                    <td></td>
                    <td class="tabletd">全自动元素分析仪1台</td>
                    <td class="tabletd">荧光光谱仪1台</td>
                </tr>

            </table>
        </div>
        <div class="resourceJstable-right">
            <div class="resourceJstable-rightimg">
                <p>
                <img id="resourceJstableImg" src="../../static/jiaoda/image/yiqi1.png" alt=""/>
                 <!--<img src="../../static/jiaoda/image/yiqi2.png" alt=""/>
                 <img src="../../static/jiaoda/image/yiqi3.png" alt=""/>
                 <img src="../../static/jiaoda/image/yiqi5.png" alt=""/>
                 <img src="../../static/jiaoda/image/yiqi6.png" alt=""/>
                 <img src="../../static/jiaoda/image/yiqi7.png" alt=""/>
                 <img src="../../static/jiaoda/image/yiqi8.png" alt=""/>
                 <img src="../../static/jiaoda/image/yiqi9.png" alt=""/>
                 <img src="../../static/jiaoda/image/yiqi10.png" alt=""/>
                 <img src="../../static/jiaoda/image/yiqi12.png" alt=""/>
                 <img src="../../static/jiaoda/image/yiqi13.png" alt=""/>
                <img src="../../static/jiaoda/image/yiqi15.png" alt=""/>
                <img src="../../static/jiaoda/image/yiqi16.png" alt=""/>
                 <img src="../../static/jiaoda/image/yiqi19.png" alt=""/>
                 <img src="../../static/jiaoda/image/yiqi23.png" alt=""/>
                 <img src="../../static/jiaoda/image/yiqi24.png" alt=""/>-->
                </p>
            </div>
        </div>
    </div>
</div>
<!--点击table处图片全屏显示
<div id="boxImg">
	 <img id="resourceJstableboxImg" src="../../static/jiaoda/image/yiqi1.png" alt=""/>
    <img id="resourceJstableboxImg2" src="../../static/jiaoda/image/gbbtn.png" alt="关闭按钮"/>
</div>-->
<!--专家-->
<div class="specialist">
    <div class="specialistbox margin">
        <div class="specialisttop">
            <div class="fiveJsrwdiv clear">
                <div class="specialisttopleft">
                    <i>专家</i><span></span><em>中心聘请国内外各领域专家作为中心专职工程师，保障仪器高效运行与测试结果精准。</em>
                </div>
                <div class="specialisttopbtn">
                    <a href="javascript:void(0);" id="btn01"><img src="../../static/jiaoda/image/fuhao-1.png" alt=""/> </a>
                    <a href="javascript:void(0);" id="btn02"><img src="../../static/jiaoda/image/fuhao-2.png" alt=""/> </a>
                </div>
            </div>
        </div>
        <div class="specialistboxpic">
            <ul class="specialistboxpicul" id="section1">
                <div id="divbox1" style='width:1200px;float: left' class="clear">
                <li><a href="javascript:void(0);">
                    <div class="specialistboxpiculdiv1">
                        <img src="../../static/jiaoda/image/zhuanjia-1.png" alt=""/>
                    </div>
                    <div class="specialistboxpiculdiv2">
                        <div class="specialistboxpicultitle">
                            <em>张怀若</em>&nbsp;&nbsp;&nbsp;<b>电镜专家&nbsp;  研究员&nbsp;  45岁</b>
                        </div>
                        <p>2006年在中科院物理所获得工学博士学位，之后在英国谢菲
                            尔德大学、美国宾州州立大学等单位从事博士后和访学工作，
                            目前是美国国家标准与技术研究院的研究员。擅长球差电镜、
                            超高分辨和原位电镜以及特殊电镜制样等技术。计划2017年
                            年底到岗。     </p>
                    </div>
                </a></li>
                <li><a href="#">
                    <div class="specialistboxpiculdiv1">
                        <img src="../../static/jiaoda/image/zhuanjia-2.png" alt=""/>
                    </div>
                    <div class="specialistboxpiculdiv2">
                        <div class="specialistboxpicultitle">
                            <em>童慧敏 </em>&nbsp;&nbsp;&nbsp;<b>电镜专家&nbsp;   高级工程师&nbsp;  36岁</b>
                        </div>
                        <p>1999-2013年在西安交通大学理学院成本硕博学习，擅长材料
                            微区分析及相关设备操作。2012-2015年在美国劳伦斯伯克利
                            国家实验室从事访问学者和博士后研究，主要利用冷冻透射电
                            镜进行复合物质大分子的结构分析，包括人体蛋白和复合纳米
                            功能材料的超高分辨率结构与功能研究、高结构活性的复合物
                            质大分子的动态结构研究等，已发表学术论文14篇，被他引用
                            100余次。      </p>
                    </div>
                </a></li>

                <li style="background: #ffffff;"><a href="#">
                    <div class="specialistboxpiculdiv1">
                        <img src="../../static/jiaoda/image/zhuanjia-6.jpg" alt=""/>
                    </div>
                    <div class="specialistboxpiculdiv2">
                        <div class="specialistboxpicultitle">
                            <em>常刚 </em>&nbsp;&nbsp;&nbsp;<b>电镜专家&nbsp;   工程师&nbsp;  33岁</b>
                        </div>
                        <p>2017博士毕业于西安交通大学材料科学与工程专业。博士期间主要从事有机无机复合涂层材料的研究，已发表学术论文14篇。
                            热爱设备开发和操作，参与完成了齿科定量喷胶器和夜磨牙探测治疗仪的设计与样机研制，已申请国家发明专利7项，2项获授权，1项已成功转化。
                        </p>
                    </div>
                </a></li>
                    <li style="background: #e8e8e8;"><a href="#">
                        <div class="specialistboxpiculdiv1">
                            <img src="../../static/jiaoda/image/zhuanjia-5.png" alt=""/>
                        </div>
                        <div class="specialistboxpiculdiv2">
                            <div class="specialistboxpicultitle">
                                <em>王瑜</em>&nbsp;&nbsp;&nbsp;<b>电镜专家&nbsp;  高级工程师&nbsp;  45岁</b>
                            </div>
                            <p>曾任职于西安北方光电科技防务有限公司（原西光厂）技术中心，
                                长期从事光电产品的结构设计工作，擅长各种光学相关设备的研发和操作维护。
                                曾担任多个军、民品项目的负责人，获得过三十多项各类奖励。2017年3月返聘到分析测试中心工作。     </p>
                        </div>
                    </a></li>
                </div>
                <div id="divbox2" style='width:1200px;float: left' class="clear">
                <li style="background: #ffffff;"><a href="#">
                    <div class="specialistboxpiculdiv1">
                        <img src="../../static/jiaoda/image/zhuanjia-3.png" alt=""/>
                    </div>
                    <div class="specialistboxpiculdiv2">
                        <div class="specialistboxpicultitle">
                            <em>周国庆 </em>&nbsp;&nbsp;&nbsp;<b>XRF专家&nbsp;  副研究员&nbsp;  44岁</b>
                        </div>
                        <p>曾就职于西北核技术研究所，主要从事质谱学在核技术中的应
                            用研究。擅长质谱方法学研究，尤其在无机及同位素质谱分析
                            领域有较强的专业素养和科研能力，先后承担各类应用技术研
                            究项目数十项，在ICP-MS元素定量分析及同位素分析方面有
                            很丰富的工作经验，多次负责与国内相关实验室的分析比对工
                            作（历次比对结果均名列前茅）。     </p>
                    </div>
                </a></li>
                <li style="background: #e8e8e8;"><a href="#">
                    <div class="specialistboxpiculdiv1">
                        <img src="../../static/jiaoda/image/zhuanjia-4.png" alt=""/>
                    </div>
                    <div class="specialistboxpiculdiv2">
                        <div class="specialistboxpicultitle">
                            <em>刘佳梅</em>&nbsp;&nbsp;&nbsp;<b>XPS专家&nbsp;  高级工程师 &nbsp;   36岁</b>
                        </div>
                        <p>2006年毕业于南京师范大学获得理学硕士学位，曾在中国科学
                            院兰州化学物理研究所工作，擅长X射线光电子能谱仪、同步热
                            分析仪、差示扫描量热仪等大型仪器的管理、维护及分析测试工
                            作。承担和参与过中国科学院仪器功能开发项目、国家自然科学
                            基金项目、国家科技部“863”计划和中科院“西部之光”项目。     </p>
                    </div>
                </a></li>
                    <li style="background: #e8e8e8;"><a href="#">
                        <div class="specialistboxpiculdiv1">
                            <img src="../../static/jiaoda/image/zhuanjia-8.png" alt=""/>
                        </div>
                        <div class="specialistboxpiculdiv2">
                            <div class="specialistboxpicultitle">
                                <em>任子君</em>&nbsp;&nbsp;&nbsp;<b>工学硕士&nbsp;    工程师 &nbsp;   27岁</b>
                            </div>
                            <p>2017年毕业于西北大学化学与材料学院，主要从事纳米材料和含能材料的制备与表征研究，擅长微区分析和相关设备的操作维护。
                                目前主要负责扫描电子显微镜和热分析类设备的管理和维护工作。     </p>
                        </div>
                    </a></li>
                <li style="background: #ffffff;"><a href="#">
                    <div class="specialistboxpiculdiv1">
                        <img src="../../static/jiaoda/image/zhuanjia-7.png" alt=""/>
                    </div>
                    <div class="specialistboxpiculdiv2">
                        <div class="specialistboxpicultitle">
                            <em>李娇 </em>&nbsp;&nbsp;&nbsp;<b>工学博士&nbsp;  工程师&nbsp;  28岁</b>
                        </div>
                        <p>2017年毕业于西安交通大学材料科学专业，主要从事金属材料的微观结构分析及力学行为研究，
                            目前已发表SCI论文10篇。擅长透射电镜(TEM)、扫描电镜(SEM)和原子力显微镜的操作和维护，
                            并擅长利用离子减薄仪和双喷减薄仪等制样设备提供特殊电镜制样服务。
                        </p>
                    </div>
                </a></li>

                </div>
            </ul>
        </div>
    </div>
</div>
<!--预约流程-->
<div id="orderLc" class="margin">
    <div class="orderLctitle">
        <img src="../../static/jiaoda/image/title-yuyue.png" alt=""/>
    </div>
    <div class="orderLclist">
        <div class="orderLclistLeft">
            <div class="orderLclistLeftdiv1">
                <p>仪器预约实行网上预约，登录西安交通大学物联共享系统  http://equip.xjtu.edu.cn/public/，在线预约仪器（物联系统使用说明）。</p>
                <p>校内用户请扫描下方“我要预约”二维码使用Net ID登录预约仪器。</p>
                <p>校外用户请扫描下方“我要预约”二维码使用真实身份注册后预约仪器</p>
            </div>
            <div class="orderLclistLeftdiv2">
                <img  src="../../static/jiaoda/image/yuyueliucheng.png" alt=""/>
            </div>
        </div>
        <div class="orderLclistRight">
            <div class="orderLclistRighttitle">
                <span><img src="../../static/jiaoda/image/zhinan.png" alt=""/> </span><em>用户指南</em>
            </div>
            <ul class="orderLclistRightul">
                <li><a href="http://iac.xjtu.edu.cn/2017/09/11/%e4%b8%ad%e5%bf%83%e6%8f%90%e4%be%9b%e5%88%86%e6%9e%90%e6%b5%8b%e8%af%95%e6%9c%8d%e5%8a%a1%e7%9a%84%e6%96%b9%e5%bc%8f%e6%9c%89%e5%87%a0%e7%a7%8d/" target="_blank">中心提供分析测试服务的方式有几种</a> </li>
                <li><a href="http://iac.xjtu.edu.cn/2017/09/09/%e5%a4%a7%e5%9e%8b%e4%bb%aa%e5%99%a8%e7%89%a9%e8%81%94%e5%85%b1%e4%ba%ab%e7%b3%bb%e7%bb%9f%e7%9b%b8%e5%85%b3%e8%af%b4%e6%98%8e/" target="_blank">大型仪器物联共享系统相关说明</a> </li>
                <li><a href="http://iac.xjtu.edu.cn/2017/09/04/%e4%b8%ad%e5%bf%83%e4%bb%aa%e5%99%a8%e8%ae%be%e5%a4%87%e6%9f%a5%e8%af%a2%e6%96%b9%e6%b3%95/" target="_blank">中心仪器设备查询方法</a> </li>
                <li><a href="http://iac.xjtu.edu.cn/2017/09/03/%e6%a0%a1%e5%86%85%e7%94%a8%e6%88%b7%e9%a2%84%e7%ba%a6%e6%b5%81%e7%a8%8b/" target="_blank">校内用户预约流程</a> </li>
                <li><a href="http://iac.xjtu.edu.cn/2017/09/03/%e6%a0%a1%e5%a4%96%e7%94%a8%e6%88%b7%e9%a2%84%e7%ba%a6%e6%b5%81%e7%a8%8b/" target="_blank">校外用户预约流程</a> </li>
                <li><a href="http://iac.xjtu.edu.cn/2017/09/04/%e5%88%9b%e6%96%b0%e5%ae%9e%e9%aa%8c%e5%ae%a4%e7%94%b3%e8%af%b7%e6%8c%87%e5%8d%97/" target="_blank">创新实验室申请指南</a> </li>
                <li><a href="http://iac.xjtu.edu.cn/2017/09/05/%e7%94%b3%e8%af%b7%e6%8a%80%e6%9c%af%e5%9f%b9%e8%ae%ad%e6%b5%81%e7%a8%8b%e8%af%b4%e6%98%8e/" target="_blank">申请操作技术培训说明</a> </li>
                <li><a href="http://iac.xjtu.edu.cn/2017/09/03/%e8%87%aa%e4%b8%bb%e6%93%8d%e4%bd%9c%e7%94%a8%e6%88%b7%e5%9f%b9%e8%ae%ad%e8%af%b4%e6%98%8e/" target="_blank">自主操作用户培训办法</a> </li>
                <li><a href="http://iac.xjtu.edu.cn/2017/09/04/%e4%bc%98%e6%83%a0%e6%94%bf%e7%ad%96/" target="_blank">优惠政策</a> </li>
                <li><a href="http://iac.xjtu.edu.cn/2017/09/04/%e5%b8%b8%e8%a7%81%e9%97%ae%e9%a2%98%e8%a7%a3%e7%ad%94/" target="_blank">常见问题解答</a> </li>
            </ul>
        </div>
    </div>
</div>

<!--预约流程 end-->
<div class="introduceQR margin">
    <div class="introduceQRleft">
        <p>西安交通大学 · 分析测试共享中心</p>
        <p>通讯地址：陕西省西安市咸宁西路28号西安交通大学分析测试共享中心</p>
        <p class="p3">（梧桐西道田家炳艺术楼往西50米化学楼北侧）</p>
        <p>联系电话：029-82666181</p>
        <p>网&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;址：http://iac.xjtu.edu.cn</p>
    </div>
    <div class="introduceQRright">
        <div class="centerWeb">
            <img src="../../static/jiaoda/image/zhongxinwangzhan.png" alt=""/><br>
                <span>中心网站</span>
        </div>
        <div class="Myintroduce">
            <img src="../../static/jiaoda/image/woyaoyuyue.png" alt=""/><br>
            <span>我要预约</span>
        </div>
    </div>
</div>
<div class="Cuttingline"></div>
<!--footer尾部-->
<div class="footer">
    <div class="footertitle">
            Copyright © 2010 科技大市场 All Rights Reserved 陕ICP备13006569号 <br>
            版权所有：西安科技大市场有限公司<br>
            服务热线：029-68518700 029-68518800
    </div>
</div>
<div class="footerbox"></div>
<div class="nav">
    <ul class="navul" id="list">
        <li class="active"><a href="#centerJs">中心介绍</a> </li>
        <li><a href="#locellusJs">分室介绍</a> </li>
        <li><a href="#resourceJs">资源介绍</a> </li>
        <li><a href="#orderLc">预约流程</a> </li>
    </ul>
</div>
<!--置顶-->
<div id="btnTop">
    <a class="slide_top" href="javascript:;"><img src="../../static/jiaoda/image/btnTop.png" alt="置顶"/></a>
</div>

<!--提示信息-->
<!--<div id="information">-->
    <!--<p>仪器实时状态，在线及时预约-->
        <!--功能升级中敬请期待</p>-->

<!--</div>-->
<!--<div id="kuangInfor">-->

<!--</div>-->
<script src="../../static/jiaoda/js/jquery-1.9.1.min.js" type="text/javascript"></script>
<script src="../../static/jiaoda/js/move.js" type="text/javascript"></script>
<script type="text/javascript">
    //	封装函数获取ID的元素节点，获取样式
    function getId(str){
        return document.getElementById(str);
    }
    function getStyle(obj,attr){
        if(obj.currentStyle){
            return obj.currentStyle[attr];
        }else{
            return getComputedStyle(obj,null)[attr];
        }
    }

   var specialistboxpic = document.getElementsByClassName("specialistboxpic")[0];
    var ul=document.getElementById('section1');
    var oPrev=document.getElementById('btn01');
    var  oNext=document.getElementById('btn02');
    var m = 0;  //当前第几张图的索引
    ul.innerHTML+=ul.innerHTML;//图片加培10张

    // next的点击
    oNext.onclick = function(){
        m++;
        if(m==3){
           move(ul,{"left":(-1)*m*1200+"px"});
            ul.style.left = "0px";
            m=1;
        }
        move(ul,{"left":(-1)*m*1200+"px"});


    }
    // prev的点击
    oPrev.onclick = function(){
        m--;
        if(m==-1){  //第一张在往前点击改到最后一张
            m=2-1;
            ul.style.left = (-1)*2*1200+"px";
        }
        move(ul,{"left":(-1)*m*1200+"px"});

    }

//    var navul = document.getElementById("list")
//      var oLi = navul.getElementsByTagName("li");
//    var oLen = oLi.length;
//    for(var i=0;i<oLen;i++){
//        oLi[i].index=i;
//        oLi[i].onclick=function(){
//           this.style.backgroundColor="#0364b1";
//        }
//
//    }

//点击表格的字实现图片切换，点击图片全屏显示
var tabletd = document.getElementsByClassName("tabletd");
var resourceJstableImg = document.getElementById("resourceJstableImg");
var oLen = tabletd.length;
var resourceJstableboxImg = document.getElementById("resourceJstableboxImg");
var boxImg = document.getElementById("boxImg");
var resourceJstableboxImg2 = document.getElementById("resourceJstableboxImg2");
//var btnTop = document.getElementById("btnTop");
var arrImg = ["../../static/jiaoda/image/yiqi1.png","../../static/jiaoda/image/yiqi2.png","../../static/jiaoda/image/yiqi3.png","../../static/jiaoda/image/yiqi4.png","../../static/jiaoda/image/yiqi5.png","../../static/jiaoda/image/yiqi6.png",
"../../static/jiaoda/image/yiqi7.png","../../static/jiaoda/image/yiqi8.png","../../static/jiaoda/image/yiqi9.png","../../static/jiaoda/image/yiqi10.png","../../static/jiaoda/image/yiqi11.png","../../static/jiaoda/image/yiqi12.png","../../static/jiaoda/image/yiqi13.png",
"../../static/jiaoda/image/yiqi14.png","../../static/jiaoda/image/yiqi15.png","../../static/jiaoda/image/yiqi16.png","../../static/jiaoda/image/yiqi17.png","../../static/jiaoda/image/yiqi18.png","../../static/jiaoda/image/yiqi19.png","../../static/jiaoda/image/yiqi20.png",
"../../static/jiaoda/image/yiqi21.png","../../static/jiaoda/image/yiqi23.png","../../static/jiaoda/image/yiqi24.png"];
for(var i=0;i<oLen;i++){
	tabletd[i].index=i;
	tabletd[i].onclick=function(){
		for(var j=0;j<oLen;j++){
			tabletd[j].style.color="";
		}
		tabletd[this.index].style.color="blue";
		resourceJstableImg.src=arrImg[this.index];
		resourceJstableboxImg.src=resourceJstableImg.src;
	}
}
/*resourceJstableImg.onclick=function(){
	boxImg.style.display="block";
	resourceJstableboxImg.style.left="50%";
	resourceJstableboxImg.style.top="50%";
	setTimeout(function(){
		resourceJstableboxImg.style.marginLeft=-1*resourceJstableboxImg.offsetWidth/2+"px";
		resourceJstableboxImg.style.marginTop=-1*resourceJstableboxImg.offsetHeight/2+"px";
	},10)

}
    resourceJstableboxImg2.onclick=function () {
        boxImg.style.display="none";
    }*/

    $("#list li").click(function(){
        $(this).css({"background-color":"#0364b1"}).siblings().css("background-color","");
        $(this).children("a").css("color","#ffffff").parent().siblings().children().css("color","#333333");
    });

</script>

<script type="text/javascript">
    //置顶
    $(function(){
        var slide_top = $('.slide_top');
        function site(){

            var wh = $(window).height()*0.4;
            var st = $(document).scrollTop();

            if(st > wh){
                slide_top.fadeIn("slow");
            }else{
                slide_top.fadeOut("slow");
            }
        }

        $(window).scroll(function(){
            site();
        })

        //点击slide＿top　按钮时，　滚动到顶部
        slide_top.click(function(evt) {
            evt.preventDefault();
            //绑定返回顶部
            var sc_top = $(document).scrollTop();
            var ini_h = 1;
            timer = setInterval(function() {
                if (sc_top -  ini_h <= 0) {
                    $(window).scrollTop(0);
                    timer && clearInterval(timer);
                } else {
                    sc_top = sc_top - ini_h;
                    $(window).scrollTop(sc_top);
                }
                ini_h += 5;		//数字越大走越快
            }, 10);
        });
    });
//  $(function(){
//      $(".resourceJstable-rightimg p img").eq(0).show().siblings().hide();
//      $(".th1").click(function(){
//          $(this).css({"color":"blue"}).siblings().css({"color":"#878787"}).parent().siblings().children().css({"color":"#878787"});
//          $(".tr th").css("color","#ffffff");
//          $(".resourceJstable-rightimg  img").eq(0).show().siblings().hide();
//      });
//      $(".th2").click(function(){
//          $(this).css({"color":"blue"}).siblings().css({"color":"#878787"}).parent().siblings().children().css({"color":"#878787"});
//          $(".tr th").css("color","#ffffff");
//          $(".resourceJstable-rightimg p img").eq(1).show().siblings().hide();
//      });
//      $(".th3").click(function(){
//          $(this).css({"color":"blue"}).siblings().css({"color":"#878787"}).parent().siblings().children().css({"color":"#878787"});
//          $(".tr th").css("color","#ffffff");
//          $(".resourceJstable-rightimg p img").eq(2).show().siblings().hide();
//      });
//      $(".th4").click(function(){
//          $(this).css({"color":"blue"}).siblings().css({"color":"#878787"}).parent().siblings().children().css({"color":"#878787"});
//          $(".tr th").css("color","#ffffff");
//          $(".resourceJstable-rightimg p img").eq(3).show().siblings().hide();
//      });
//      $(".th5").click(function(){
//          $(this).css({"color":"blue"}).siblings().css({"color":"#878787"}).parent().siblings().children().css({"color":"#878787"});
//          $(".tr th").css("color","#ffffff");
//          $(".resourceJstable-rightimg p img").eq(4).show().siblings().hide();
//      });
//      $(".th6").click(function(){
//          $(this).css({"color":"blue"}).siblings().css({"color":"#878787"}).parent().siblings().children().css({"color":"#878787"});
//          $(".tr th").css("color","#ffffff");
//          $(".resourceJstable-rightimg p img").eq(5).show().siblings().hide();
//      });
//  })
//   var _information = document.getElementById("information");
//    var _kuangInfor = document.getElementById("kuangInfor");
//    _information.onmouseover=function(){
//        _kuangInfor.style.display="block";
//    }
//    _information.onmouseout=function(){
//        _kuangInfor.style.display="none";
//    }
//    window.onscroll = function () {
//        var _top = document.body.scrollTop || document.documentElement.scrollTop;
//        if(_top>400){
//            _information.style.position="fixed";
//            _information.style.top=0+"px";
//        }else{
//            _information.style.top=470+"px";
//        }
//    }
    var oWrap = document.getElementById("wrap");
    var oSlide = document.getElementById("slide");
    var iWidth = parseInt(getStyle(oWrap,"width"));

    var oLi = oSlide.getElementsByTagName("li");
    var oLen = oLi.length;
    var m = 0;  //当前第几张图的索引
    var timer = null;
    oSlide.innerHTML+=oSlide.innerHTML;
    //自动轮播
    function autoPlay(){
        timer = setInterval(function(){
            m++;
            if(m==oLen+1){
                oSlide.style.left = "0";
                m=1;
            }
            //				oSlide.style.left = (-1)*m*iWidth+"px"; css直接改，没有动画效果
            //				通过move函数改变left值，当前第几张图的数值×每个的宽度在取负值
            move(oSlide,{"left":(-1)*m*iWidth+"px"});
        },3000)
    }
    //	调用自动轮播
    autoPlay();

    // 鼠标移上移开清除或开启定时器
    oWrap.onmouseover = function(){
        clearInterval(timer);
    }
    oWrap.onmouseout = function(){
        autoPlay();
    }
</script>

</body>
</html>