<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>主页</title>
    <link rel="stylesheet" type="text/css" href="../static/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="../static/css/base.css">
    <link rel="stylesheet" type="text/css" href="../static/css/index.css">
    <script src="../static/js/jquery-3.2.1.min.js"></script>
    <script src="../static/js/bootstrap.min.js"></script>
    <script src="/static/js/index.js"></script>
</head>
<body>
{#    <div class="ui-dialog" id="dialogMove" onselectstart='return false;'>#}
{#        <div class="ui-dialog-title" id="dialogDrag"  onselectstart="return false;" >#}
{#            登录通行证#}
{#            <a class="ui-dialog-closebutton" href="javascript:hideDialog();"></a>#}
{#        </div>#}
{#        <div class="ui-dialog-content">#}
{#                <input class="ui-dialog-input ui-dialog-input-username" type="input" placeholder="手机/邮箱/用户名" />#}
{#                <input class="ui-dialog-input ui-dialog-input-password" type="password" placeholder="密码" />#}
{#            <div class="ui-dialog-l40">#}
{#                <a href="#">忘记密码</a>#}
{#            </div>#}
{#            <div>#}
{#                <a class="ui-dialog-submit" href="#" >登录</a>#}
{#            </div>#}
{#            <div class="ui-dialog-l40">#}
{#                <a href="#">立即注册</a>#}
{#            </div>#}
{#        </div>#}
{#    </div>#}
{#    <div id="zzc"></div>#}

    <ul class="nav-my fix">
        <li><a href="/">主页</a></li>
        <li><a href="/instr">信息查询</a></li>
        <li><a href="#">版本查询</a></li>
        <li><a href="#">数据处理</a></li>
        <li><a href="#">接口管理</a></li>
        <li><a href="/test_easyui">Jquery EasyUI 测试</a></li>
        <li><a target="_blank" href="/jiaoda">交大宣传页</a></li>
        <li><a target="_blank" href="/dv">数据可视化</a></li>
    </ul>
    <br/>
    <div class="wrapper">

    </div>

</body>
</html>


