<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
       <form action="/index/" method="post">
        <input type="text" name="username"/>
        <input type="password" name="password"/>
        <input type="submit" value="提交"/>
    </form>
    <hr/>
    <h1>信息展示</h1>
    <table class="table table-hover table-bordered">
        <thead>
            <th>用户名</th>
            <th>密码</th>
        </thead>
        <tbody>
            {% for line in data %}
                <tr>
                    <td>{{  line.user  }}</td>
                    <td>{{  line.pwd  }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>



    <h2>{{ request.path }}?{{ request.GET.urlencode }}</h2>

    <a href="{{ request.path }}?{{ request.GET.urlencode }}&delete=1">当前网址加参数 delete</a>
    <p>{{ rhost }},{{ rpath }}</p>
</body>
</html>