<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="IE=edge,chrome=1">
    <meta name="renderer" content="webkit">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="西安科技大市场,西安科技,科技大市场,大市场,技术转移,技术交易,成果转化,科技服务,仪器设备,科技政策,现代服务业,创业">
    <meta name="description" content="西安科技大市场将重点发挥“交易、共享、服务、交流”四位一体的功能。展示各种科技资源，促进科技资源的对接与合作；科技大市场促进技术转移和成果转化；科技大市场实现技术平台、仪器设备、科技文献等资源的共享；提供人才创业、政策落实、项目申报等专业化和集成化服务；通过举办科技集市和各种专业论坛，推动科技资源的交流与合作，促进科技成果的商品化、产业化与国际化。">
    <title>数据可视化</title>
    <link rel="shortcut icon" href="../images/common/favicon.ico">
    <link rel="icon" type="image/gif" href="../images/common/animated_favicon1.gif">
    <link href="http://cdn.bootcss.com/normalize/5.0.0/normalize.min.css" rel="stylesheet">
</head>
<body>
<div id="mainMap" style="width: 1000px;height:600px;"></div>

<script src="../../lib/cnzz.js"></script>
<script src="../../lib/modernizr.js"></script>
<!--[if lte IE 8]>
<script src="http://cdn.bootcss.com/selectivizr/1.0.2/selectivizr.js"></script>
<![endif]-->
<script src="../../lib/jquery-1.9.1.min.js"></script>
<script src="../../lib/echarts.min.js"></script>
<script type="text/javascript">
    var mainChart = echarts.init(document.getElementById('mainMap'));

    var percent = 0.7;

    function getData() {
        return [{
            value: percent,
            itemStyle: {
                normal: {
                    color: '#fb358a',
                    shadowBlur: 10,
                    shadowColor: '#fb358a'
                }
            }
        }, {
            value: 1 - percent,
            itemStyle: {
                normal: {
                    color: 'transparent'
                }
            }
        }];
    }

    var pieOption = {
        backgroundColor: '#333645',

        title: {
            text: (percent * 100) + '%',
            x: 'center',
            y: 'center',
            textStyle: {
                color: '#98a0c4',
                fontWeight: 'bolder',
                fontSize: 64,
            }
        },
        series: [{
            type: 'pie',
            radius: ['39%', '49%'],
            silent: true,
            label: {
                normal: {
                    show: false,
                }
            },
            data: [{
                value: 1,
                itemStyle: {
                    normal: {
                        color: '#313443',
                        shadowBlur: 10,
                        shadowColor: '#1b1e25',


                    }
                }
            }],
            animation: false
        },
            {
                type: 'pie',
                radius: ['39%', '49%'],
                silent: true,
                label: {
                    normal: {
                        show: false,
                    }
                },
                data: [{
                    value: 1,
                    itemStyle: {
                        normal: {
                            color: '#313443',
                            shadowBlur: 50,
                            shadowColor: '#1b1e25'
                        }
                    }
                }],

                animation: false
            },
            {
                name: 'main',
                type: 'pie',
                radius: ['50%', '51%'],
                label: {
                    normal: {
                        show: false,
                    }
                },
                data: getData(),

                animationEasingUpdate: 'cubicInOut',
                animationDurationUpdate: 500
            }
        ]
    };

    mainChart.setOption(pieOption);

    setInterval(function () {
        percent = +Math.random();

        mainChart.setOption({
            title: {
                text: (percent * 100).toFixed(0) + '%'
            },
            series: [{
                name: 'main',
                data: getData()
            }]
        })
    }, 1000);
</script>
</body>
</html>