@font-face {
          font-family: 'Glyphicons Halflings';
          src: url('/static/fonts/bootstrap/glyphicons-halflings-regular.eot');
          src: url('/static/fonts/bootstrap/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'),
          url('/static/fonts/bootstrap/glyphicons-halflings-regular.woff') format('woff'),
          url('/static/fonts/bootstrap/glyphicons-halflings-regular.ttf') format('truetype'),
          url('/static/fonts/bootstrap/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
        }
        *{
            font-family: Microsoft YaHei;
            font-size: 14px;
            line-height: 1.5em;
            color: #333333;
        }

        body {
            font-size: 14px;
            line-height: 1.5em;
            color: #333333;
            background-color: #f3f3f3;
        }
        a {
            color: #333;
            text-decoration: none !important;
            outline: none !important;
        }

        .joy_header {
            height: 89px;
            border-bottom: 2px solid #f38d00;
            background-color: white;
        }


        .logo a {
            display: block;
            width: 247px;
            height: 35px;
            background: url(/static/images/JoyAir/joy_logo.jpg) no-repeat;
            text-indent: -50em;
        }
        .logoline {
            padding: 27px 0;
            float: left;
        }
        .logo {
            display: inline;
            float: left;
        }

        .loginline {
            display: inline;
            float: right;
            padding-top: 60px;
            padding-right: 30px;
        }

        .loginline span{
            display: inline-block;
            margin-left: 20px;
        }

        .ti{
            float: left;
            display: inline-block;
            font-size: 25px;
            color: #02014D;
            padding-left: 10px;
        }
        .w_1200a {
            width: 1200px;
            margin: 0 auto;
        }

        .joy_cont{
            height: 100%;
            padding-top: 20px;
            padding-bottom: 40px;
        }

        .joy_continner{
            background-color: white;
            padding: 30px 10px;
            margin-bottom: 20px;
            border-radius:10px;
            box-shadow: 5px 5px 2px #888888;
        }

        .searchBox {
            width: 100%;
            border: 1px solid #dadada;
            padding: 20px;
            background-color: #f5f5f5;
            margin: 10px auto;
            font-size: 20px!important;
        }

        .form-group {

            display: inline-block;
            margin: 10px;
        }

        .picarea{
            width: 100%;
            margin: 10px 0;
            padding: 20px auto;

        }

        .picpos {
            padding: 10px!important;
            border: 1px solid #dadada;
            width: 170px;
            height: 135px;
            cursor: pointer;
        }

        .picarea img {
            display: block;
            width: 150px;
            height: auto;
            margin-right: 5px;

        }

        .work {
            background-size: cover;
            background-position: center center;
            background-repeat: no-repeat;
            position: relative;
            width: 145px;
            height: 100%;
            display: table;
            overflow: hidden;
        }

        .btnline {
            text-align: right;
            margin-top: 10px;
        }

        .cxbtn {
            margin-right: 20px;
        }

        .desc {
            width: 100px;
            height: 100px;
            padding: 0;
            margin: 0;
            display: none;
        }

        .joy_footer {
            background-color: #313131;
            height: 70px;
            bottom: 0;
            text-align: center;
            color: #828282;
            line-height: 70px;
        }


